# Python EinfÃ¼hrung
## kleiner
text text **fett** *kursiv*
- Punkt 1
- Punkt 2
- Punkt 3

In [14]:
print("Hello World")

Hello World

In [15]:
# das ist ein kommentar
print("etwas")

etwas

In [16]:
# Datentypen
name = "Lovelace"

In [17]:
print(name)

Lovelace

In [18]:
name

'Lovelace'

In [19]:
age = 73

In [20]:
size = 1.7123

In [21]:
knows_math = True
print (knows_math)
likes_slacking = False
print (likes_slacking)

True
False

In [22]:
# Operatoren
5 + 5

10

In [23]:
age * 100

7300

In [24]:
name + name

'LovelaceLovelace'

In [25]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [26]:
name + "10"

'Lovelace10'

In [27]:
size/age

0.023456164383561642

In [28]:
name + str(10)

'Lovelace10'

In [29]:
number_of_articles = "50"

In [30]:
type(number_of_articles)

str

# Funktionen und Methoden

In [31]:
name

'Lovelace'

In [32]:
len(name)

8

In [33]:
name.upper()

'LOVELACE'

In [34]:
print(name)

Lovelace

In [35]:
name_upper = name.upper()

In [36]:
print (name_upper)

LOVELACE

In [37]:
name.count("e")

2

In [38]:
name.replace("lace"," is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [39]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [40]:
names [2
      ]

'Curie'

In [41]:
names [1]

'Darwin'

In [42]:
names[3]

'Hawking'

In [43]:
names[-1]

'Hawking'

In [44]:
names [0:3]

['Lovelace', 'Darwin', 'Curie']

In [45]:
names[:2]

['Lovelace', 'Darwin']

In [46]:
names[2:]

['Curie', 'Hawking']

In [47]:
authors_and_birthyears = {"Lovelace": 1882,
                          "Darwin": 1809,
                          "Noether": 1882}

In [48]:
authors_and_birthyears["Darwin"]

1809

In [49]:
authors_and_birthyears["Noether"]

1882

# for-Schleife

In [51]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [56]:
for name in names:
    print(name + " did awesome stuff" )
    print ("------------------------------")

Lovelace did awesome stuff
------------------------------
Darwin did awesome stuff
------------------------------
Curie did awesome stuff
------------------------------
Hawking did awesome stuff
------------------------------

In [57]:
for name in names:
    print(name + " did awesome stuff" )
print ("------------------------------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
------------------------------

# Bedingte Anweisungen (Conditionals)

In [58]:
temp =  20
if temp > 15: 
    print("It's warm")

It's warm

In [59]:
20 > 15

True

In [60]:
10 > 15

False

In [63]:
temp =  10
if temp > 15: 
    print("It's warm")
else: 
    print ("It's cold")

It's cold

In [64]:
temp =  30
if temp >= 25:
    print ("It's hot")
elif temp > 15: 
    print("It's warm")
else: 
    print ("It's cold")

It's hot

In [65]:
authors_and_birthyears = {"Lovelace": 1882,
                          "Darwin": 1809,
                          "Noether": 1882}

In [66]:
for author in authors_and_birthyears.keys():
    print(author)

Lovelace
Darwin
Noether

In [67]:
for author in authors_and_birthyears.values():
    print(author)

1882
1809
1882

In [80]:
for author, birthyears in authors_and_birthyears.items():
    print(author + " was born in " + str(birthyears))

Lovelace was born in 1882
Darwin was born in 1809
Noether was born in 1882